python-telegram-bot[job-queue,rate-limiter,webhooks]>=20.0
flask>=3.0.0
beautifulsoup4>=4.12.0
chardet>=5.0.0
duckduckgo-search>=5.0.0
fake-useragent>=1.0.0
fastapi>=0.100.0
html2text>=2020.0.0
httpx-socks>=0.8.0
httpx[http2]>=0.24.0
lxml-html-clean>=0.1.0
msgspec>=0.18.0
pdfminer.six>=20220311
pillow>=10.0.0
python-dotenv>=1.0.0
pytz>=2023.3
requests>=2.31.0
apscheduler>=3.10.0
